body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(121, 24, 201), rgb(18, 189, 241));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

form {
    text-align: center;
}

label, input, button {
    display: block;
    margin-bottom: 15px;
}

button {
    background-image: linear-gradient(45deg, rgb(137, 0, 250), rgba(18, 189, 241));
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    font-size: 15px;
}

button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.login {
    color: rgb(255, 255, 255);
    padding: 5px;
}

.input {
    background-image: linear-gradient(45deg, rgba(137, 0, 250), rgba(18, 189, 241));
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: #ffffff; /* Cor do texto do placeholder */
    font-size: 15px;
}

h1 {
    font-size: 40px;
    margin-top: 5px;
}